// Заголовки, общие БЄМ блоки и проче...
.btn {
	background: linear-gradient(180deg, #FFE39A 0%, #FACA41 100%);
	box-shadow: 0px 4px 15px rgba(43, 57, 130, 0.25);
	border-radius: 30px;
	padding: 18px 35px;
	font-family: 'Exo 2';
	font-weight: 600;
	font-size: 16px;
	text-align: center;
	letter-spacing: 0.045em;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;

	&:hover {
		letter-spacing: 0.055em;
	}
}

.title {
	font-family: 'Lobster';
	font-style: normal;
	font-weight: 400;
	@include adaptiveValue("font-size", 30, 26);
	line-height: math.div(38, 30);
	text-align: center;
	letter-spacing: 0.045em;

	span {
		color: $blueColor;
	}
}