//====================================================================================================
.main {
	position: relative;
	margin-top: rem(-85);
	@include adaptiveValue("padding-bottom", 110, 40);

	&-bg {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;

		@media (max-width:$mobile) {
			object-position: left;
		}
	}

	&__body {
		padding-top: rem(150);
	}

	&__title {
		position: relative;
		z-index: 2;
		font-family: 'Lobster';
		font-weight: 400;
		@include adaptiveValue("font-size", 45, 30);
		line-height: math.div(56, 45);
		max-width: rem(500);

		@media (max-width:$tablet) {
			width: 100%;
		}

		span {
			color: $blueColor;
		}
	}

	&__item {
		@include adaptiveValue("margin-top", 40, 20);
		position: relative;
		z-index: 2;
		display: flex;
		margin-bottom: 30px;

		@media (max-width:$mobile) {
			flex-direction: column;
			align-items: start;

		}
	}

	&__item-block {
		display: flex;
		@include adaptiveValue("margin-right", 45, 20);
		@include adaptiveValue("margin-bottom", 45, 20);

		&:last-child {
			margin-right: 0;
		}

		img {
			width: rem(18);
			height: rem(18);
			margin-right: 10px;
		}
	}

	&__item-text {
		font-family: 'Exo';
		font-style: normal;
		font-weight: 400;
		line-height: math.div(19, 14);
		width: rem(120);

		@media (max-width:$mobile) {
			width: 100%;
		}
	}
}

// function ====================================================================================================
.fuction {
	@include adaptiveValue("padding-top", 70, 40);
	@include adaptiveValue("padding-bottom", 70, 40);

	&__title {
		@include adaptiveValue("margin-bottom", 40, 20);
	}

	&__body {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
	}

	&__item {
		display: flex;
		flex: 1 1 30%;
		align-items: center;

		@media (max-width:$tablet) {
			flex: 0 1 45%;
		}

		@media (max-width:$mobile) {
			flex: 1 1 auto;
		}
	}

	&__item-img {
		max-width: 91px;
		height: 74px;
		margin-right: 15px;

		img {
			width: 100%;
		}
	}

	&__item-text {
		font-family: 'Exo 2';
	}

	&__item-text-title {

		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.045em;
		margin-bottom: 6px;
	}

	&__item-text-desc {
		font-family: 'Exo 2';
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.045em;
	}
}

// catalog ========================================================================================================================================================
.catalog {
	@include adaptiveValue("padding-top", 70, 40);
	@include adaptiveValue("padding-bottom", 70, 40);

	&__title {
		@include adaptiveValue("margin-bottom", 40, 20);
	}

	&__body {
		display: flex;
		gap: 30px;
		flex-wrap: wrap;

		@media (max-width:$tablet) {
			gap: 10px;
			justify-content: center;
		}
	}

	&__card {
		background: #FFFFFF;
		box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
		border-radius: 15px;
		padding: 15px;
		flex: 0 1 30%;

		@media (max-width:$tablet) {
			padding: 10px;
			flex: 1 1 40%;
		}
	}

	&__card-item {
		background: rgba(245, 245, 245, 0.58);
		border-radius: 0px 0px 10px 10px;
	}
}

.card-item {

	&__img {
		border-radius: 10px 10px 0px 0px;
		min-width: 310px;
		margin-bottom: 20px;

		img {
			width: 100%;
			border-radius: 10px 10px 0px 0px;
		}
	}

	&__title {
		padding: 0 20px;
		font-family: 'Exo 2';
		font-weight: 600;
		font-size: 18px;
		line-height: math.div(22, 18);
		text-align: center;
		letter-spacing: 0.045em;
		margin-bottom: 14px;
	}

	&__text {
		margin-bottom: 20px;

		span {
			padding: 0 20px;
			font-family: 'Exo 2';
			font-weight: 300;
			line-height: math.div(17, 14);
			margin-bottom: 10px;
			display: block;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__money {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 20px;
	}

	&__money-prise {
		font-family: 'Lobster';
		font-weight: 400;
		font-size: 18px;
		color: $blueColor;
		padding: 0 20px;
	}

	&__money-btn {
		display: inline-flex;
		margin-right: 20px;
		padding: 12px 30px;
		font-size: 14px;
		transition: all 0.3s ease 0s;

		&::before {
			margin-right: 3px;
		}
	}
}

// insta ========================================================================================================================================================
.insta {
	@include adaptiveValue("padding-top", 70, 40);
	@include adaptiveValue("padding-bottom", 70, 40);

	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
		flex-wrap: wrap;
	}

	&__left {
		flex: 0 1 40%;

		@media (max-width:$tablet) {
			flex: 1 1 auto;
		}
	}

	&__left-title {
		font-family: 'Lobster';
		font-weight: 400;
		@include adaptiveValue("font-size", 30, 22);
		line-height: math.div(38, 30);
		letter-spacing: 0.045em;
		margin-bottom: 30px;

		span {
			color: $blueColor
		}
	}

	&__left-block {
		margin-bottom: 30px;
	}

	&__left-block-title {
		font-family: 'Lobster';
		font-weight: 400;
		@include adaptiveValue("font-size", 18, 16);
		margin-bottom: 15px;
	}

	&__left-block-text {
		display: flex;
		align-items: flex-start;

		img {
			margin-right: 8px;
			width: rem(18);
		}

		span {
			font-family: 'Exo';
			font-weight: 400;
			line-height: math.div(19, 14);
			margin-bottom: 10px;
		}
	}

	&__left-btn {
		display: inline-flex;
		margin-top: 0px;

		&::before {
			margin-right: 5px;
		}
	}

	&__right {

		&__image {
			min-width: 465.91px;

			img {
				width: 100%;
			}
		}
	}
}

// faq ========================================================================================================================================================
.faq {
	background: #F9F7F8;
	@include adaptiveValue("padding-top", 70, 40);
	@include adaptiveValue("padding-bottom", 70, 40);

	&__title {
		@include adaptiveValue("margin-bottom", 40, 20);
	}

	&__body {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
		gap: 30px;
		margin-bottom: 40px;

		@media (max-width:$tablet) {
			gap: 15px;
		}
	}

	&__body-left {
		flex: 0 1 40%;

		@media (max-width:$tablet) {
			flex: 1 1 auto;
		}
	}

	&__body-right {
		flex: 0 1 40%;

		@media (max-width:$tablet) {
			flex: 1 1 auto;
		}
	}
}

.spollers {
	margin-bottom: 20px;
	height: rem(60);

	&__item {}

	&__title {
		font-family: 'Exo 2';
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: math.div(22, 18);
		letter-spacing: 0.045em;
		padding: 20px 30px;
	}

	&__body {}
}

.faq {

	&__form {
		background: #E5E5E5;
		max-width: rem(945);
		margin: auto;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		border-radius: 10px;
	}

	&__form-left {
		flex: 0 1 60%;
		padding: 30px;

		@media (max-width:$tablet) {
			flex: 1 1 auto;
		}
	}

	&__form-left-title {
		font-family: 'Lobster';
		font-weight: 400;
		@include adaptiveValue("font-size", 26, 22);
		line-height: math.div(32, 26);
		letter-spacing: 0.045em;
		color: $blueColor;
		margin-bottom: 22px;
	}

	&__form-left-text {
		font-family: 'Exo 2';
		font-weight: 600;
		font-size: 16px;
		line-height: math.div(19, 16);
		margin-bottom: 22px;
	}

	&__form-left-actions {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	&__form-left-actions-link {
		box-shadow: 0px 4px 15px rgba(43, 57, 130, 0.25);
		border-radius: 30px;
		padding: 10px 20px;
		font-family: 'Exo 2';
		font-weight: 500;
		font-size: 14px;
		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: 0.045em;
		text-transform: uppercase;
		transition: all 0.3s ease 0s;

		&::before {
			margin-right: 5px;
			font-size: 12px;
		}

		@media (max-width:$tablet) {
			margin-bottom: 15px;
			width: 100%;
			justify-content: center;
			margin-right: 0;
		}

		&:hover {
			opacity: 0.8;
		}
	}

	&__form-left-actions-link:nth-child(1) {
		background: #B7410E;
		color: #fff;
		margin-right: 15px;

		@media (max-width:$tablet) {
			margin-right: 0;
		}
	}

	&__form-left-actions-link:nth-child(2) {
		background: #00C041;
		color: #fff;
		margin-right: 15px;

		@media (max-width:$tablet) {
			margin-right: 0;
		}
	}

	&__form-left-actions-link:nth-child(3) {
		background: linear-gradient(180deg, #FFE39A 0%, #FACA41 100%);
	}

	&__form-right {
		flex: 0 1 40%;

		@media (max-width:$tablet) {
			display: none;
		}
	}

	&__form-right-image {
		min-width: 358px;

		img {
			border-radius: 0px 10px 10px 0px;
			width: 100%;
		}
	}
}

// map ========================================================================================================================================================
.map {
	position: relative;
	@include adaptiveValue("padding-top", 70, 40);
	@include adaptiveValue("padding-bottom", 70, 40);

	&-block {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__body {
		width: 28%;
		z-index: 2;
		background: #FFFFFF;
		border-radius: 10px;
		position: relative;
		padding: 30px;

		@media (max-width:$mobile) {
			width: 100%;
		}
	}

	&__body-title {
		font-family: 'Lobster';
		font-weight: 400;
		@include adaptiveValue("font-size", 20, 18);
		line-height: math.div(25, 20);
		text-align: center;
		letter-spacing: 0.045em;
		margin-bottom: 25px;

		span {
			color: $blueColor;
		}
	}

	&__body-block {
		font-family: 'Exo 2';
		line-height: math.div(24, 20);
		letter-spacing: 0.045em;
		@include adaptiveValue("font-size", 20, 18);
		margin-bottom: 30px;
	}

	&__body-block-title {
		font-weight: 600;
		margin-bottom: 5px;
	}

	&__body-block-link {
		font-weight: 500;
	}

	&__body-btn {
		display: inline-block;
		z-index: 2;
		position: relative;
		background: #00C041;
		box-shadow: 0px 4px 15px rgba(43, 57, 130, 0.25);
		border-radius: 30px;
		padding: 10px 25px;
		font-family: 'Exo 2';
		font-weight: 600;
		font-size: 16px;
		text-align: center;
		letter-spacing: 0.045em;
		text-transform: uppercase;
		color: #FFFFFF;
		transition: all 0.3s ease 0s;

		&::before {
			display: inline-flex;
			margin-right: 5px;
			font-size: 13px;
		}

		&:hover {
			opacity: 0.8;
		}
	}
}